

/* El fondo de la calculadora y el display */
.root {
    -fx-background-color: black;
}

.label {
    -fx-background-color: black; /* Fondo negro para el display*/
    -fx-text-fill: white;        /* Texto blanco*/
    -fx-font-size: 40px;         /* Tamaño de fuente grande*/
    -fx-alignment: CENTER_RIGHT; /* Alineado a la derecha como en iOS*/
    -fx-padding: 20;             /* Espacio interno */
}

/* Estilo general de los botones */
.button {
    -fx-background-radius: 0; /* iOS usa bordes rectos o muy redondeados, según la versión. Aquí usaremos rectos como en tu imagen */
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-background-color: #A5A5A5; /* Gris claro para números */
}

/* Botones de operación (Naranja) */
.operacion {
    -fx-background-color: #FF9F0A;
    -fx-text-fill: white;
}

/* Botones superiores (Gris oscuro/medio) */
.especial {
    -fx-background-color: #D4D4D2;
}

/* Efecto cuando se mantienen pulsados (Requerimiento 2) */
.button:pressed {
    -fx-brightness: 0.8; /* Se oscurece un poco al pulsar */
    -fx-background-color: #FFFFFF; /* O puedes definir un color específico */
}

.operacion:pressed {
    -fx-background-color: #f7c578;
}